<template>
  <section id="app">
    <h1> {{ message }} </h1>
  </section>
</template>

<script>
	export default {
		name: 'example-component',
		data: () => ({
    }),
    computed: {
			message() {
				return this.$store.getters.message
      }
    }
	}
</script>

<style lang="scss" scoped>
  h1 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
  }
</style>
